* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
  background: #fff;
}

body {
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 800px;
  height: 100vh;
  font-size: 1rem;
  line-height: 1.4;
}

h1 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 0.75rem;
}

ul {
  padding-inline-start: 1rem;
}

li {
  margin: 0.5rem 0;
}

.project {
  padding: 0;
}

.project-item {
  position: relative;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  list-style: none;
  border: 1px solid pink;
  border-radius: 4px;
}

.project-item-stack {
  font-size: 0.875rem;
  color: dimgray;
}

.project-item-link {
  display: block;
}

// @media (min-width: 100ch) {
//   body {
//   }
// }
